
[Desktop Entry]
Type=Application
Exec=/usr/bin/zoomcontrolwindow.py
Hidden=false
OnlyShowIn=GNOME;
Name=Zoom
Icon=edit-find-symbolic
Comment=Control zoom functionality in a floating window.
Name[cs_CZ]=Zvětšení
